In [ ]:
##Create 2 list and inser values from both list in thirs list

In [ ]:
s1=[1,2,3,4]
s2=[4,5,6]
s3=s1+s2
s3

[1, 2, 3, 4, 4, 5, 6]

In [ ]:
## append

s3.append(16)
s3

[1, 2, 3, 4, 4, 5, 6, 16]

In [ ]:
## insert
s3.insert(1,50)
s3

[1, 50, 2, 3, 4, 4, 5, 6, 16]

In [ ]:
## length
len(s3)

9

In [ ]:
## Transpose
s=[1,2,3,4,5]

In [ ]:
for i in s:
  print(i,end=" ")

1 2 3 4 5

In [ ]:
## creatre 2 list and create third list having common values

In [ ]:
l1=[1,2,3,4,5,6,8]
l2=[2,4,6,7]

In [ ]:
for i in l1:
  for j in l2:
    if i==j:
      print(i,end=" ")

2 4 6

In [ ]:
## List comprehension ----create a list L1 and fetch even values from list l1 into another list

In [ ]:
L1=[2,4,6,7,8,9,10,12,16,15]

In [ ]:
L2=[i for i in L1 if i%2==0]
L2

[2, 4, 6, 8, 10, 12, 16]

In [ ]:
## Using while loop  print number 1 to 10

In [ ]:
i=1
while i<=10:
  print(i,end=" ")
  i=i+1

1 2 3 4 5 6 7 8 9 10

In [ ]:
## Table of 7 using while loop

In [ ]:
a=7

i=1
while i <=10:
  print(a,"*",i,"=",a*i)
  i=i+1

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

In [ ]:
## Create a list and print first word using for loop

In [ ]:
s=["java","python","C++"]

In [ ]:
for i in s:
  if i==s[0]:
    print(i)

java

In [ ]:
## Factorial

In [ ]:
n=5
a=1

for i in range(1,n+1):
  a=a*i
  print(a,end=" ")

1 2 6 24 120

In [ ]:
## Maps in python

In [ ]:
def doubler(x):
  return x*2

my_list = [1, 3, 5, 2, 4]

result = list(map(doubler, my_list))

In [ ]:
print(result)

[2, 6, 10, 4, 8]

In [ ]:
## Recursion--func which calls itself

In [ ]:
def sum_numb(x):
  if x==0:
    return 0
  else:
    return x+sum_numb(x-1)

In [ ]:
sum_numb(6)

21

In [ ]:
## Exceptional handling--For runti error

In [ ]:
a=5
b=0

try:
  print(a/b)
except:
  print("Number cannot be divided by zero")

print("bye")

Number cannot be divided by zero
bye

In [ ]:
## Creating a single string

In [ ]:
a=["I","am","here"]
print(" ".join(a))

I am here

In [ ]:
## Flatten list

In [ ]:
import itertools

a=[[1,2],[3,4],[5,6]]

b=list(itertools.chain.from_iterable(a))
print(b)

[1, 2, 3, 4, 5, 6]

In [ ]:
## Combining two lists

In [ ]:
a=["a","b","c","d"]
b=["e","f","g","h"]

for x,y in zip(a,b):
  print(x,y)

a e
b f
c g
d h

In [ ]:
## check for more frequent on list

In [ ]:
a=[1,2,3,4,2,2,3,1,4,4,4,4]

print(max(set(a),key=a.count))

4

In [ ]:
## Transposing a matrix

In [ ]:
mat=[[1,2,3],[4,5,6]]

new_mat=zip(*mat)

for row in new_mat:
  print(row)

(1, 4)
(2, 5)
(3, 6)

In [ ]:
## Inverting dictionaries

In [ ]:
dict1={"a":1,"b":2,"c":3,"d":4}

dict2={v:k for k,v in dict1.items()}
print(dict2)

{1: 'a', 2: 'b', 3: 'c', 4: 'd'}

In [ ]:
## Merging dictionaries

In [ ]:
x={"a":1,"b":1}
y={"b":3,"c":4}
z={"m":9}

z={**x,**y,**z}
print(z)

{'a': 1, 'b': 3, 'c': 4, 'm': 9}

In [ ]:
## Check memory usage of an object

In [ ]:
import sys

a=10
print(sys.getsizeof(a))

28

In [ ]:
## Swaping Values

In [ ]:
x,y=1,2
x,y=y,x
print(x,y)

2 1

In [ ]:
## Prime number between 100 and 200

In [ ]:
for num in range(100,200):
  if all(num% i !=0 for i in range(2,num)):
    print(num)

101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199

In [ ]:
## sort func to sort element in a list

In [ ]:
l=[36,33,26,24]

In [ ]:
l.sort()
print(l)

[24, 26, 33, 36]

In [ ]:
## other way

l.sort(reverse=False)
print(l)

[24, 26, 33, 36]

In [ ]:
## sort data in list without using sort function

In [ ]:
l=[36,33,26,24]

In [ ]:
l=l[::-1]
print(l)

[24, 26, 33, 36]

In [ ]:
## Fibonacci Series

In [ ]:
def f(n):
  if n==0:
    return 0
  elif n==1:
    return 1
  else:
    return f(n-1)+f(n-2)

In [ ]:
for i in range(0,12):
  print(f(i))

0
1
1
2
3
5
8
13
21
34
55
89

In [ ]:
## Pallindrome

In [ ]:
def pal(m):
  if m==m[::-1]:
    print("Palindrome")
  else:
    print("Not a Palindrome")

In [ ]:
pal("SOS")
pal("Teacher")
pal("MOM")

Palindrome
Not a Palindrome
Palindrome

In [ ]:
## Print set of duplicates from a list

In [ ]:
l=[56,46,56,40,40,32,12]

In [ ]:
dup=set([x for x in l if l.count(x)>1])
print(dup)

{56, 40}

In [ ]:
## program to print number of word in a given sentence

In [ ]:
s=" I am having a perfect time of my life"

In [ ]:
s.split()
print(len(s.split()))

9

In [ ]:
##Given an array arr[] of n elements , write a python function to search given element x in arr[] 
# returns the index value

In [ ]:
def search(arr,x):
  for i in range(len(arr)):
    if arr[i]==x:
      return i

  print("not present in the list")

In [ ]:
l=[1,2,3,3,4,4,5,6]
search(l,6)

7

In [ ]:
## program to join two strings

In [ ]:
first="Hii, How are you . " 
second="My name is Divitya"

In [ ]:
sentence=first+second
print(sentence)

Hii, How are you . My name is Divitya

In [ ]:
## other way

print(" ".join([first,second]))

Hii, How are you .  My name is Divitya

In [ ]:
## isdigit function

In [ ]:
sen="My name is Divitya"

In [ ]:

print(sen.isdigit())

False

In [ ]:
##Write a Python program to split strings using newline delimiter

In [ ]:
ini_str="This is a test program"

print("initial string" ,ini_str)

res_list=(ini_str.rstrip().split(" "))

print(res_list)

initial string This is a test program
['This', 'is', 'a', 'test', 'program']